@model Employee
@{
	ViewData["Title"] = Model != null && Model.Id == 0 ? "Add Employee" : "Update Employee";
}
<form method="post" action="CreateOrEdit">
	<div class="card">
		<div class="card-header bg-info">
			<div class="text-center ">
				<h2 id="AddHeader">@ViewData["Title"]</h2>
			</div>
		</div>
		
		<div class="card-body">
			<input type="hidden" asp-for="Id" />
			<div class="form-group mb-3" id="formGroupName">
				<label id="lblName">Employee Name</label>
				<input class="form-control" onkeyup="requiredTextField('Name','name')" id="txtName" asp-for="Name" />
				 @* <span asp-validation-for="Name"></span> *@
				<span id="errName" class="text-danger"></span>
			</div>
			<div class="form-group mb-3" id="formGroupEmail">
				<label id="lblEmail">Employee Email</label>
				<input class="form-control" onkeyup="Validate('Email','email')" id="txtEmail" asp-for="Email" />
				@* <span asp-validation-for="Email"></span> *@
				<span id="errEmail" class="text-danger"></span>
			</div>
			<div class="form-group mb-3" id="formGroupPhone">
				<label id="lblPhone">Employee Phone</label>
				<input class="form-control" onkeyup="Validate('Phone','mobile number')" id="txtPhone" asp-for="Phone" />
				@* <span asp-validation-for="Email"></span> *@
				<span id="errPhone" class="text-danger"></span>
			</div>
			<div class="form-group mb-3" id="formGroupGender">
				<label id="lblGender">Gender</label>
				<select class="form-select" onkeyup="requiredTextField('Gender','please select a gender')" id="txtGender" asp-for="Gender">
					<option  value="">Select</option>
					 @foreach (var item in ViewBag.Gender)
					 {
					 	<option value="@item.genderId">@item.gender</option>
					 }
				</select>
				@* <span asp-validation-for="Department"></span> *@
				<span id="errGender" class="text-danger"></span>
			</div>
			<div class="form-group mb-3" id="formGroupSalary">
				<label id="lblSalary">Employee Salary</label>
				<input class="form-control" id="txtSalary" onkeyup="Validate('Salary','Valid Input')" asp-for="Salary" />
				@* <span asp-validation-for="Salary"></span> *@
				<span id="errSalary" class="text-danger"></span>
			</div>
			<div class="form-group mb-3" id="formGroupDepartment">
				<label id="lblDepartment">Department</label>
				<select class="form-select" onkeyup="requiredTextField('Department','please select a department')" id="txtDepartment" asp-for="Department">
					<option value="">Select</option>
					@foreach (var item in ViewBag.Department)
					{
						<option value="@item.DeptId">@item.Name</option>
					}
				</select>
				@* <span asp-validation-for="Department"></span> *@
				<span id="errDepartment" class="text-danger"></span>
			</div>
			
			<div class="form-group mt-3">
				@if (Model.Id == 0)
				{
					<input type="submit" value="Submit" id="btnSubmit" class="btn btn-success w-25" />

				}
				else
				{
					<input type="submit" value="Update" id="btnSubmit" class="btn btn-success w-25" />
				}
				<button  asp-action="Index" asp-controller="Employee" class="btn btn-secondary w-25">Back</button>
			</div>
		</div>
	</div>
</form>

<script src="~/js/custom.js"></script> 